@model Sistema_DAS.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nro_Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nro_Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Docente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Docente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto_url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto_url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video_url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video_url)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
